html {
	background:url(background1.jpg);
	background-size: cover;

}

body {
	text-align: center;
	font-family: "Calibri";	
}

img{
	width:500px;
	height:500px;
	border: 2px solid white;
	border-radius: 5px;
}


.intro {
	color: rgb(0, 100, 200);
	font-weight: bold;
	font-size: 40px;
}

.organization {
	font-weight: bold;
	color: rgb(0,100, 150);
}

.position {
	color: rgb(0, 150, 100);
}