@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

body {
	width:100%;
	height:100%;
}

/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(Preloader_2.gif) center no-repeat #fff;
}

#map {
	width:100%;
	height:100%;
}

#control_container {
	position:absolute;
	top:0px;
	left:0px;
	width:235px;
	height:100%;
	background: rgb(0,68,104);
	font-family: Raleway, sans-serif;
	color: white;
}

#title_box {
	border-bottom: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#grouplist {
	height:400px;
	overflow: scroll;
}

.search-ui {
  position:relative;
  width: 195px;
  z-index:1000;
}

#all.active, #all:hover {
  background: #006DA8;
}

#g1:hover, #g1 > .tab, .open > #g1 {
   background: #031D44;
}

#g2:hover, #g2 > .tab, .open > #g2{
  background: #78BC41;
}

#g3:hover, #g3 > .tab, .open > #g3{
  background: #7CAEF0
}

#g4:hover, #g4 > .tab, .open > #g4 {
	background: #69DDFF
}

#g5:hover, #g5 > .tab, .open > #g5 {
	background: #227159
}

#g6:hover, #g6 > .tab, .open > #g6 {
	background: #708471
}

#about_toggle {
    position:relative;
    cursor: pointer;
}

.tab {
	position: absolute;
	top:0px;
	left:0px;
	width:10px;
	height:100%;
	z-index: 3;
}

.popup {
	padding: 20px;
    position:absolute;
    left:215px;
    top: -150px;
    width: 500px;
    background:#ccc;
    display:none;
    border-radius: 5px;
}

